# Server configuration
SERVER_HOST=
SERVER_PORT=


# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# JWT
JWT_SECRET_KEY_ACCESS = 
JWT_SECRET_KEY_REFRESH = 
JWT_ALGORITHM = 
JWT_ACCESS_TOKEN_EXPIRE_MINUTES =
JWT_REFRESH_TOKEN_EXPIRE_DAYS = 

# supeeradmin credentials
SUPERADMIN_PASSWORD=
SUPERADMIN_FIRST_NAME=
SUPERADMIN_LAST_NAME =
